<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  David Stevens
  <br>
  (Data Scientist // Brunch Aficionado)
  <br>
  Instagram: <a href="https://www.instagram.com/whens.brunch/">@whens.brunch</a>
  <br>
  Github: <a href="https://github.com/whensbrunch">whensbrunch</a>
</p>
