<!-- Restaurant map displaying all brunches -->
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="review_form">
        <%= render 'shared/review_form' %>
      </section>
    </aside>
    <%= render 'map' %>
  </div>
<% else %>
  <%= render 'map' %>
<% end %>
<%#= link_to image_tag("tsitsi.png", alt: "Tsiya"),
            'http://rubyonrails.org/' %>
